{% extends 'base.html' %}
{% load static %}
{% block content %}
  <style>
    body { background: url({% static "img/fon3.jpg" %}); background-size: 200%}
  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <h1 align = "center" style="color:white">Здравствуйте, {{name}}</h1>
    <p align = "center">
    <a  class="btn btn-primary" href="http://127.0.0.1:8000/chat/">Войти в чат</a>
  </p>
{% endblock %}