.title {
	text-align: center;
	padding: 8vw 8vw 2.7vw 8vw;
	font-family: 'Comfortaa', sans-serif;
}

#main_title {
	font-size: 3.6vw;
	
}

div {
	visibility: hidden;
}

.main div {
	visibility: visible;
}

.time1 {
	font-size: 6.84vw;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
}

.time2 {
	font-size: 1.44vw;
	text-align: center;
	font-family: 'Comfortaa', sans-serif;
}

body {
	background-size: cover;
}